<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="portBridgeAgent" type="PortBridgeAgent.PortBridgeAgentSection, PortBridgeAgent"/>
  </configSections>
  <!-- Add your .NET Services project account information here -->
  <!-- Create a project at http://portal.ex.azure.microsoft.com/ -->
  <portBridgeAgent serviceBusNamespace="xxx" serviceBusIssuerName="owner" serviceBusIssuerSecret="yyy">
    <portMappings>
      <port localTcpPort="13389" targetHost="yourcomputername" remoteTcpPort="1337">
        <firewallRules>
          <rule source="127.0.0.1"/>
          <rule sourceRangeBegin="10.0.0.0" sourceRangeEnd="10.255.255.255"/>
        </firewallRules>
      </port>
    </portMappings>
  </portBridgeAgent>
  <system.net>
    <defaultProxy enabled="true"/>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
