<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="portBridge" type="PortBridge.PortBridgeSection, PortBridge"/>
  </configSections>
  <!-- Add your .NET Services project account information here -->
  <!-- Create a project at http://portal.ex.azure.microsoft.com/ -->
  <portBridge serviceBusNamespace="xxx" serviceBusIssuerName="owner" serviceBusIssuerSecret="yyy">
    <hostMappings>
      <add targetHost="localhost" allowedPorts="1337"/>
    </hostMappings>
  </portBridge>
  <system.net>
    <defaultProxy enabled="true"/>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
